body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 102px;
} */

#header {
  display: grid;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: #383e4c;
  padding-bottom: 8px;
}

.item {
  padding: 12px 25px;
  margin: 10px;
  font-family: 'open-sans', Arial;
  font-size: 20px;
  border-style: solid;
  border-color: #646d7c;
  color: white;
}

.title {
  display: flex;
  height: 535px;
  background-image: url('assets/images/stepwell_india.jpg');
  background-size: cover;
}

.title-content {
  font-size: 70px;
  margin: auto;
  text-align: center;
}

.title-content .header {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}

.title-content .description {
  color: white;
  font-size: 30px;
}

.section_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  grid-gap: 30px;
  margin-top: 70px;
  justify-content: center;
}

.section_1>article {
  background-color: #F0F0F0;
}

.section_1>article img {
  width: 100%;
}

.section_2 {
  display: flex;
  margin: 60px 168px 30px;
  justify-content: center;
}

.section_2>article {
  background-color: #F0F0F0;
}

.section_2>article img {
  max-width: 100%;
}

.left-image {
  margin-right: 15px;
}

.right-image {
  margin-left: 15px;
}

.text {
  padding: 0 20px 20px;
  line-height: 1.5;
}

.green-text {
  color: #178A27;
  font-size: 25px;
  font-weight: 900;
}

.blue-text {
  color: #1686C1;
  font-size: 25px;
  font-weight: 900;
}

.grey-text {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #666666;
  font-size: 20px;
  font-weight: 700;
}

.button-centering {
  display: grid;
  justify-content: center;
}

.green-btn {
  background-color: #4CAF50;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.blue-btn {
  background-color: #1686C1;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.red-btn {
  background-color: #852406;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.right-content-btn {
  background-color: white;
  border-style: groove;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  color: #666666;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-right {
  display: grid;
  justify-content: right;
}

.services {
  display: flex;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('assets/images/kerala.jpg');
  height: 320px;
}


.services h1 {
  color: #fff;
  text-transform: capitalize;
  text-shadow: 2px 2px #aaa;
  margin-bottom: 20px;
}

.services-content {
  margin: auto;
  text-align: center;
  color: #F0F0F0;
}

.columns {
  display: grid;
  margin-top: 60px;
  justify-content: center;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: 1fr;
  grid-gap: 35px;
  grid-template-areas:
    "header header header header"
    "footer footer footer footer";
}

.columns>article {
  background-color: #F0F0F0;
}

.section-footer {
  grid-area: footer;
}

.columns-card {
  padding: 25px 25px 50px 25px;
  color: #666666;
}

.columns-card>h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.section-footer .columns-card>h2 {
  text-align: start;
}

.one-big-column-img {
  object-fit: cover;
  
}

.columns>article img {
  width: 100%;
}